#multiline {
  position: relative;
}

.multiline {
  fill: none;
  stroke-width: 2;
}

#multiline .grid line {
  opacity: 0.2;
}

.multiline_tooltip {
  position: absolute;
  padding: 5px;
  text-align: left;
  font-size: 12px;
  pointer-events: none;
  background-color: #FFF;
}

.multiline_circle {
  display: inline-block;
  float: left;
  margin: 0 5px 0 0;
  width: 15px;
  height: 15px;
  border-radius: 100px;
}
